{% extends 'pages/base.html'%}
{% load static %}
{% block content%}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About BT Real Estate</h1>
          <p class="lead">BT Real Estate is a real estate company that provides a wide range of services such as buying, selling, and renting properties.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home'%}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We Search For The Perfect Home</h2>
          <p class="lead">Let us help you find your dream home with ease and convenience...</p>
          <img src="{% static 'img/about.jpg'%}" alt="">
          <p class="mt-4">Welcome to our real estate web application! We are a team of dedicated professionals committed to providing you with the best possible experience when it comes to buying, selling, or renting real estate. Our platform is designed to make the process as smooth and straightforward as possible, with intuitive features that allow you to easily search for properties that meet your needs, communicate with agents, and manage your transactions from start to finish. With years of experience in the industry and a passion for real estate, we are confident that our platform will help you achieve your goals and find the perfect property for you. Thank you for choosing our real estate web application, and we look forward to helping you with your real estate needs!</p>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src={{mvp_realtor.photo.url}} alt="Seller of the month">
            <div class="card-body">
              <h5 class="card-title">Seller Of The Month</h5>
              <h6 class="text-secondary">{{mahesh.name}}</h6>
              <p class="card-text">We want to recognize Jenny's outstanding achievements in the past month, and thank her for her hard work and dedication to her clients.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>Find your dream home today with our easy-to-use real estate platform.!</h4>
    <hr>
    <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

  <!-- Team -->

  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">



{%for i in realtors%}
          <div class="col-md-4">
            <img src={{i.photo.url}} alt="" class="rounded-circle mb-3">
            <h4>{{i.name}}</h4>
            <p class="text-success">Realtor</p>
            <hr>
            <p>
              <i class="fas fa-phone"></i> {{i.phone}}</p>
            <p>
              <i class="fas fa-envelope-open"></i> {{i.email}}</p>
          </div>
        {%endfor%}
      </div>
    </div>
  </section>



{% endblock %}
